body{
    padding:0 ;
    margin:0;
}
.container{
    font-size: xx-large;
    font-family:Arial, Helvetica, sans-serif ;


}
.navbar{
position:top;
}
.header-section{
    background-color: aqua;
  width:auto;
  margin-left: 50px;
  margin-right:50px;
  
}
.title1{
    text-align: center;


}
.img{
    margin-left: 50px;
    margin-right:50px;
    width:auto;
    justify-content: center;
    height:auto;
   
   
}